.input-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
}

.input-root:focus-visible {
  outline-offset: 2px;
  outline-color: #273c75;
  outline-width: 2px;
  outline-style: solid;
}
